/Files/OutputImgs
/Files/__pycache__
/Files/APIs/Secrets
calendars.json
/Files/APIs/__pycache__
/Files/Output
/Files/waveshare_epd/__pycache__
/Testing/__pycache__
/Testing/Output
/Testing/Channels
.env
Files/APIs/GoogleCalResponseExample.json
/Files/venv
